<div class="row row-cols-1 row-cols-md-2 mt-5 text-white g-5">
  <div class="col">
    <div class="contact-area">
      <h2 class="fs-2 mb-3">Contact</h2>
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone"></i><span class="fw-bold">+1 234 56 78</span>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-envelope"></i><span class="fw-bold">info@emailaddress.com</span>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-signpost"></i><span class="fw-bold">221b Baker St, London NW1 6XE, United Kingdom</span>
      </div>
      <div class="mt-4 ms-3">
        Call us to make a reservation.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="contact-area">
      <h2 class="fs-2 mb-3">Location</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40673255.36291455!2d-52.35817642353805!3d51.52241608253254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acf335de791%3A0xfcd227d9a53748f3!2sSherlock%20Holmes%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1683121500430!5m2!1str!2str" style="border:0;width: 100%; height: 500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
<div style="height: 20vh;">
</div>
