<div class="menu-section">
  <h1 class="fs-1">HOMEFORK MENU</h1>
  <div class="menu-sub">
    <h2 class="fs-2">Dinner Menu</h2>
    <div class="container w-75">
      <h3 class="fs-3">Starters</h3>
      <div class="row row-cols-2">
        <div>Houmous with Pita</div>
        <div class="text-end">$3</div>

        <div>Feta Salad</div>
        <div class="text-end">$4</div>

        <div>Chicken Soup</div>
        <div class="text-end">$3</div>

        <div>Tomato Soup</div>
        <div class="text-end">$3</div>

        <div>Potato Fries</div>
        <div class="text-end">$2</div>

      </div>
    </div>

    <div class="container w-75">
      <h3 class="fs-3 mt-3">Main Dishes</h3>
      <div class="row row-cols-2">
        <div>Penne Alfredo</div>
        <div class="text-end">$8</div>

        <div>Penne Arabiata</div>
        <div class="text-end">$8</div>

        <div>Burrito</div>
        <div class="text-end">$6</div>

        <div>Fajitas</div>
        <div class="text-end">$8</div>

        <div>Tacos (3 pieces)</div>
        <div class="text-end">$12</div>

        <div>Neapolitan Pizza</div>
        <div class="text-end">$11</div>

        <div>Rendang</div>
        <div class="text-end">$8</div>

        <div>Piri-piri Chicken</div>
        <div class="text-end">$10</div>

        <div>Lasagna</div>
        <div class="text-end">$9</div>

      </div>
    </div>

    <div class="container w-75">
      <h3 class="fs-3 mt-3">Drinks</h3>
      <div class="row row-cols-2">
        <div>Coca Cola</div>
        <div class="text-end">$3</div>

        <div>Fanta</div>
        <div class="text-end">$2.50</div>

        <div>Water (50cl)</div>
        <div class="text-end">$1</div>

        <div>Ayran</div>
        <div class="text-end">$2</div>

        <div>Homemade Orange Juice</div>
        <div class="text-end">$4</div>

        <div>Hot Tea</div>
        <div class="text-end">$1.50</div>

        <div>Mineral Water (20cl)</div>
        <div class="text-end">$1</div>



      </div>
    </div>
  </div>
</div>
