<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 text-white mt-5">
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Monday</h2>
      <hr>
      <img src="/assets/images/food-1.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Hamburger</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Tuesday</h2>
      <hr>
      <img src="/assets/images/food-2.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Pancakes</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Wednesday</h2>
      <hr>
      <img src="/assets/images/food-3.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Bowl</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Thursday</h2>
      <hr>
      <img src="/assets/images/food-4.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Soup</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Friday</h2>
      <hr>
      <img src="/assets/images/food-5.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Bowl</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Saturday</h2>
      <hr>
      <img src="/assets/images/food-6.jpeg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Sea Food</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
  <div class="col">
    <div class="special-area">
      <h2 class="fs-2">Sunday</h2>
      <hr>
      <img src="/assets/images/food-7.jpg" alt="" class="img-fluid">
      <h4 class="fs-4">Special Rolls</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, rem. Corrupti necessitatibus nihil et, maxime dolor consectetur error repellat deleniti!</p>
    </div>
  </div>
</div>
