.special-area {
  text-align: center;
}

.special-area img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, .3);
}

.special-area h4 {
  margin: 15px 0;
}
